body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.something{
    color: cornflowerblue;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: deeppink;
    background-image: linear-gradient(deeppink);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 400%;
    color: black;
}
.top-banner{
      background-image: url(images/top-banner.png);
      background-repeat: no-repeat;
}